<mat-drawer-container class="example-container" autosize>
  <mat-drawer mode="side" opened>
    <div>
      <h1>Clients</h1>
      <h3>Client look history</h3>
      <h3>Emergency pin Configuration</h3>
      <h3>Emergency pin History</h3>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div>
      <div>
        <button mat-raised-button color="primary" (click)="openDialog()">
          New
        </button>
        <button mat-raised-button color="primary">Export</button>


        <mat-form-field>
          <mat-label>Enter Shared Key</mat-label>
          <input
            matInput
            placeholder="Enter Shared Key"
            [(ngModel)]="valueFilter"
          />
        </mat-form-field>


        <button mat-raised-button color="primary" (click)="searchClient()">
          Buscar
        </button>


        <button mat-raised-button color="primary">Advanced Search</button>


        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="sharedKey">
            <th mat-header-cell *matHeaderCellDef>Shared Key</th>
            <td mat-cell *matCellDef="let element">{{ element.key }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="business">
            <th mat-header-cell *matHeaderCellDef>Business</th>
            <td mat-cell *matCellDef="let element">{{ element.businessId }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef>Phone</th>
            <td mat-cell *matCellDef="let element">{{ element.number }}</td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date Added</th>
            <td mat-cell *matCellDef="let element">{{ element.date }}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button color="primary" (click)="openDialog()">
                Editar
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
